@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar  */
.navhover:hover {
  color: white ;
}
.launch_btn {
  display: flex;
  padding: 18px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 38px;
  border: 0.5px solid var(--7-a-49-ff, #7a49ff);
  background: linear-gradient(
    180deg,
    rgba(207, 184, 255, 0.24) 0%,
    rgba(207, 184, 255, 0) 100%
  );
  backdrop-filter: blur(4px);
}
/* start .trail_Btn css  */
.trail_Btn {
  display: flex;
  padding: 18px 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 38px;
  border: 0.5px solid rgba(122, 73, 255, 0.3);
  background: rgba(207, 184, 255, 0.01);
  backdrop-filter: blur(3px);
}

/* video height and width set  */
.custom-react-player {
  width: 1520px !important;
  height: 986px !important;
}

/* video play */

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio for video */
}

.custom-react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.custom-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #2980b9;
}
/* Your existing CSS */

.custom-button.active {
  background-color: #e74c3c;
}

.custom-button.active:hover {
  background-color: #c0392b;
}

/* input field design   */
.custom-value {
  width: 100%;
  border-radius: 38px;
  border: 0.5px solid rgba(122, 73, 255, 0.3);
  background: #030014;
}
.custom-value:hover {
  background: #030014;
  box-shadow: 0px 4px 28px 0px rgba(122, 73, 255, 0.5);
}
/* market Maker css  */
.shadow-color::before {
  content: "";
  position: absolute;
  right: 281px;
  margin-top: 303px;
  z-index: 999;
  opacity: 1;
  overflow: hidden;
  width: 330.118px;
  height: 154px;
  border-radius: 77px;
  background: #7a49ff;
  filter: blur(182px);
}
/* proActivemarketMaker style css  */
.bg {
  background: black;
  border-radius: 30px;
  box-shadow: 0px 0px 50px -10px #7a49ff;
}

/* footer  */

.footer {
  background-image: url("../src/assets/image/Footer/footer.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-top: 180px;
}

.first-shadow {
  height: 700px;
  max-width: calc(2 * 700px);
  width: 100%;
}
.second-shadow {
  height: 600px;
  max-width: calc(2 * 600px);
  width: 100%;
  
}
.third-shadow {
  height: 500px;
  max-width: calc(2 * 500px);
  width: 100%;

}
.market-shadow::after {
  content: "";
  position: absolute;
  background-color: #7a49ff;
  width: 400px;
  height: 200px;
  top: -22.3%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%);
  filter: blur(150px);
}

/* responsive desing  */
@media (max-width: 992px) {
  .first-shadow {
    width: "350px" !important;
  }
  .second-shadow {
    width: "300px";
    margin: 0 auto;
  }
  .third-shadow {
    width: "250px";
    margin: 0 auto;
  }
  .market-shadow::after {
    width: 200px;
    height: 100px;
    background-color: #7a49ff;
    filter: blur(150px);
  }
}

@media (max-width: 576px) {
  .first-shadow {
    width: "300px";
    margin: 0 auto;
  }
}
